@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    font-family: "Poppins";
}

header{
    background-color: #5b1f00;
    color:#ffffff;
    display:flex;
}
z
header h1{
    margin: 0;
    padding:20px;
}

div.sigla{
    display: flex;
    width: 50vw;
    height: auto;
}

.elementosMenu{
    display:flex;
}

.elementosMenu li{
    display: flex;
    list-style: none;
    margin: 5px;
}

div.produtos{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
 }
 
 div.produtos img:hover{
     transform: translateY(-5px); 
     cursor: pointer;
 }
 
 div.iten img{
     width: 200px;
     height: auto;
 }